@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --color-main: #4D0A13;
    --color-light: #ffffff;
    --color-primary: #641823;
    --color-secondary: #A9954F;
}

@font-face {
    font-family: 'Moles';
    src: url('../../public/fonts/Moles.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "MonteCarlo", cursive;
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
}

